.gitattributes text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.vue text eol=lf
.github/workflows/*.yml text eol=lf
.github/workflows/*.yaml text eol=lf
